body {
    background: rgb(44, 44, 44);
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.calc-box, nav {
    background: rgb(63, 63, 63);
}

.upload-file-input {
    background: rgb(63, 63, 63);
    color: #fff;
}

a {
    text-shadow: none;
}